{% extends "base.html" %}

{% block container %}
<div class="home">
  <div class="section clear-bottom">
    <a href="{{ url(a='ad') }}">add</a> |
    <a href="{{ url(a='dump') }}">dump</a> |
    <a href="{{ url(a='logout') }}">logout</a> |
    <span>Login as <a href="https://github.com/{{ u['login'] }}">{{ u['login'] }}</a>,</span>
    <span>usage: {{ "%.0f" | format(db.stat.st_size / conf.maximum_bucket_size * 100) }}%</span>
    .
  </div>
  <div class="search section clear-bottom">
      <form action="{{ url(a='ls') }}">
      <input type="input" name="q" autocomplete="off" value="{{ q }}">
      <input type="hidden" name="a" value="ls">
      <input type="hidden" name="b" value="{{ bucket }}">
      <input type="submit" value="Search">
    </form>
  </div>
  <div class="notes section">
    <table>
      <tbody>
        {% for el in hits %}
        <tr>
          <td class="sha"><a href="{{ url(a='cat', key=el.key) }}">{{ el.key }}</a></td>
          <td>{{ el.desc }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
